article {
    width: 95%;
    height: 110vh;
    margin-left: 6%;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0px 2px 7px #6d6d6d; /*sombrita*/
  }

  .article-item{
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: left;
    margin-left: 40px;

}

.article-item .image-wrap{
    width: 130px;
    height: 130px;
    overflow: hidden;
    float: left;
    margin-right: 15px;
}

.article-item .image-wrap img{
  height: 85%;
  text-align: center;
}

.article-item h2{
  display: block;
  height: 100%;
  padding: 0px;
  margin: 0px;
  margin-bottom: 7px;
}
.article-detail .image-wrap{
  float: none;
  width: 100%;
  height: 100%;   
}

.article-detail .image-wrap img{
  
  width: auto;
  height: 100%;
}

.article-detail .subheader{

  margin-bottom: 0 px;
  border: none;
  margin-top: 15px;
}

.btno{
  display: block;
  color: white;
  padding: 15px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  max-width: 120px;
  border: none;
}

.btn{
  border-radius: 10px;
  background-color: #3880ff;
}

.btn-white{
  display: block;
  color: white;
  background: black;
  padding: 10px;
  width: 105px;
  height: 40px;
  margin: 0px auto;
  text-shadow: none;
  font-size: 14px;
  text-decoration: none;
  
  line-height: 30px;
 /* box-shadow: 0px 0px 5px #444444; */
  margin-top: 40px;
  border-radius: 4px;
  transition: 300ms all;
  
  cursor: pointer;
}

ion-router-otulet #main .menu-content .menu-content-overlay .split-pane-main {

  --side-min-width: 29px;
  --side-max-width: 2%;

}

/*
*/